@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Rubik:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

.App {
    font-family: 'DM Sans', sans-serif;
}